image:
  repository: europe-docker.pkg.dev/sap-gcp-cp-k8s-stable-hub/cola/k8syncer
  tag: v0.8.0-dev
  # pullSecrets: 
  # - my-pull-secret

config:
  # cluster:
  #   # specify either kubeconfig or host, audience, and one of caData or caConfigMapName.
  #   kubeconfig: |
  #     apiVersion: v1
  #     clusters:
  #     - cluster: ...
  #   host: https://api.mycluster.com
  #   audience: ...
  #   caData: ...
  #   caConfigMapName: ...

  syncConfigs:
  - id: dummyWatcher
    resource:
      group: k8syncer.gardener.cloud
      version: v1
      kind: Dummy
      # For rendering the rbac rules, the resource name is required.
      # It is usually the lowercase plural form of the kind.
      # The chart tries to guess the plural by
      # - if the kind ends with 'y', replacing the 'y' with 'ies'
      # - appending an 's' to the kind otherwise
      # If none of these guesses results in the correct resource name,
      # you have to manually overwrite it by specifying 'resource' here.
      # resource: dummies
    storageRefs:
    - name: mockStorage
    state:
      type: annotation
      verbosity: detail

  storageDefinitions:
  - name: mockStorage
    type: mock

resources:
  requests:
    cpu: 100m
    memory: 256Mi
#   limits:
#     cpu: 500m
#     memory: 2Gi

# logging:
#   verbosity: info # error, info, or debug
